
@using (Html.BeginForm("Go_sorting", "Cars", FormMethod.Get))
{

    @Html.Label("Search type", htmlAttributes: new { @class = "text-warning" })
    <select name="num" class="form-control">
        <option value="1"> sorting by reseved</option>
        <option value="2"> sorting by price_in_day</option>
        <option value="3"> sorting by Car_Brand</option>
        <option value="4"> sorting by Car_Model</option>
        <option value="5"> sorting by Chassis_No</option>
        <option value="6"> sorting by End_Book_Date</option>
    </select>
    <br />

    <input type="submit" value="sorting" class="form-control btn btn-danger" />




}
